<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shopping.modules.boot.mapper.addressMapper">

   <select id="getByIdF" parameterType="java.lang.Integer" resultType="org.shopping.modules.boot.entity.address">
      select id
         ,user_id
         ,name
         ,state
         ,city
         ,district
         ,address
         ,phone
         ,email
         ,address_alias
         ,default_address
         from tb_address
         where id = #{id}
   </select>

	
	
</mapper>